$ cat .gitattributes 

*.dart linguist-language=Dart

*.c++ linguist-language=C++
*.CMake linguist-language=CMake
*.html linguist-language=HTML
*.swift linguist-language=Swift
*.c linguist-language=C

*.c++ linguist-vendored=true
*.CMake linguist-vendored=true
*.html linguist-vendored=true
*.swift linguist-vendored=true
*.c linguist-vendored=true