$ cat .gitattributes 

# main.dart linguist-language=Dart

# *.c++ linguist-generated=true
# *.CMake linguist-generated=true

*.c++ linguist-language=dart
*.CMake linguist-language=dart
*.HTML linguist-language=dart
*.Switf linguist-language=dart
*.C linguist-language=dart

